.text-center {
  text-align: center;
}

.verticalAlignMiddle {
  vertical-align: middle !important;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.w40p {
  width: 40%;
}

.w100p {
  width: 100% !important;
}

.h100p {
  height: 100%;
}

.h70p {
  height: 70%;
}

.pl15 {
  padding-left: 15px;
}

.pr15 {
  padding-right: 15px;
}

.pl0 {
  padding-left: 0 !important;
}

.pr0 {
  padding-right: 0 !important;
}

.mr0 {
  margin-right: 0px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px;
}

.mt3 {
  margin-top: 3px !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.w70 {
  width: 70px !important;
}

.w50p {
  width: 50% !important;
}

.mainBodyMinWidth {
  min-width: 1550px;
}

.dif {
  display: inline-flex;
}

.df {
  display: flex;
}

.margin-0-auto {
  margin: 0 auto;
}
.wordBreak {
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
}

.overflowEllipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.flexWrapNoWrap {
  flex-wrap: nowrap !important;
}

.fwb {
  font-weight: bold;
}

.fz12 {
  font-size: 12px !important;
}

.fz18 {
  font-size: 18px !important;
}

.fz24 {
  font-size: 24px !important;
}

.fz35 {
  font-size: 35px;
}

.fz30 {
  font-size: 30px !important;
}

.w40 {
  width: 40px !important;
}

.w50p {
  width: 50%;
}

.p0 {
  padding: 0 !important;
}

.pl0 {
  padding-left: 0 !important;
}

.poa {
  position: absolute;
}

.por {
  position: relative;
}

.left0 {
  left: 0;
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}

.bg-transparent {
  background: transparent !important;
}

.bg-disabled {
  background: #e9ecef !important;
}

.bg-datePicker {
  background-image: url(/static/media/date_24px_533395_easyicon.net.3d84369e.ico) !important;
  background-repeat: no-repeat !important;
  background-position: right center !important;
}

.bg-error {
  border-color: red !important;
}

.clear-grid-padding {
  margin: 0 -15px;
}
